  /*  Styling Detail page */



@import url(layout_overview.css);  
  

.crossSize{
  
  width:20px;
  
}
/* versuch sticky 

.square{
background-color: yellow;
position: -webkit-sticky;
position: fixed;

left:3.5%;

z-index: 1000;
overflow: auto;
} */
  
.insidepage{

  margin-top: 50px;
}
/* main Styling */

.leadtext{
  
    color:var(--mainText);
    font-size: 1.07rem;
    font-weight: 400;
    line-height: 1.5rem;
    
    position: relative;
    overflow: hidden;
    max-height: 800px;
    
    margin:0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    z-index: 2;
}

.pmargin{
  margin-bottom: 2rem;
}
.pbulledpoint{
  line-height: 1.2rem;
}
.xtraMargin{
  margin-top: 2rem;
}
.container-picture{
  margin-top: 0.5rem;
  column-gap:1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 0.5fr;
  justify-self: start;
  
  
}
.container-books{
  margin-top: 0.5rem;
  column-gap:1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1.8fr 0.5fr;
  justify-self: start;
 
  
}
.h5marginX{
  margin-top:1rem
}


.container-carousel{

  margin-top: 0.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--mainText);
  height:550px;
}

.descriptiontextBooks{

  color:var(--mainText);
  font-size: 1.07rem;
  font-weight: 400;
 
  
  position: relative;
  overflow: hidden;
  max-height: 800px;
  
  margin:0;
  padding: 0;
  z-index: 2;
}
/* .xtraMarginleft
{
  margin-left: 1rem;
} */

.referenzImg {
  width: 100%;
 
   }

   @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .blury{
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }
  .imgfront{
    width: 100%;
    z-index: 1;
  }
  .ontop{
  backdrop-filter: blur(5px);
    position: fixed;
    top:0;
    width: 100px;
   height: 60px;
   z-index: 1;
  }

  
  
/* main Styling */

/* carousel start */



/* carousel end */


/* QR Code Styling */
#container {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 375px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 5em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 300px;
  background-color: white;
}
/* QR Code Styling */
    
    
     
     @media screen and (min-width:2000px) {
       
        }

    



@media screen and (min-width:720px){
  
}