  /*  Styling Detail page */



@import url(layout_overview.css);  
  
  

    
.overviewbody {
padding-right: 0.6rem;
padding-left: 0.6rem;
  
}  

.container-overviewsmall {
  display: grid;
grid-gap: 8px;
grid-template-columns: 0.5fr 1fr;
grid-template-rows: 0.5fr 1fr;
grid-template-areas:
"illu photo"
"illu textForCard";
}
.illu{
grid-area:illu;
padding-top: 7rem;
justify-self: end;
}
.illuovsize{
padding-top: 20rem;
}
.photo{
grid-area:photo;
padding-top: 1.5rem;
justify-self: start;


}
.textForCard{
grid-area:textForCard;

}

.textSizecard{
padding:0;
font-size: 0.8rem;

}
.lastlinep{
  padding-bottom: 1rem;

}
.middlelinep{
  padding-bottom: 0.3rem;

}
.ovaccordionTitle:before,
    .ovaccordion__Heading:before {
      content: "+";
      font-size: 2rem;
      font-weight: 100;

      line-height: 1rem;
      float: right;
      transition: transform 0.3s ease-in-out;
  
    }

    .overviewTi{

      margin: 1rem 0;
    }