  /*  Styling Detail page */



@import url(layout_overview.css);  
  

.crossSize{
  
  width:28px;
}
  
.insidepage{

  margin-top: 50px;
}
/* main Styling */

.leadtext{
  
    color:var(--mainText);
    font-size: 1.07rem;
    font-weight: 400;
    line-height: 1.5rem;
    
    position: relative;
    overflow: hidden;
    max-height: 800px;
    
    margin:0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    z-index: 2;
}

.pmargin{
  margin-bottom: 2rem;
}
.pbulledpoint{
  line-height: 1.1rem;
}
.xtraMargin{
  margin-top: 2rem;
}
.container-picture{
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.xtraMarginleft
{
  margin-left: 1rem;
}

.referenzImg {
  width: 46%;
 
   }
/* main Styling */

/* QR Code Styling */
#container {
  text-align: center;
  margin: 0;
}

#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 375px;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 5em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 300px;
  background-color: white;
}
/* QR Code Styling */
    
    
     
     @media screen and (min-width:2000px) {
       
        }

    



@media screen and (min-width:720px){
  
}