  /*  Styling Detail page */


@import url(layout_detail.css);  
@import url(layout_overview.css);  
@import url(layout_carousel.css);  
  
  
 
  /* allgemeines Styling */

  :root
  {
      --mainText:#706D72;
      --secondaryText:#DECACA;
      --lightTextColor:#F7F3F2;
      --buttonColor: linear-gradient(138deg, rgba(191,167,167,1) 0%, rgba(112,109,114,1) 50%);
      --shadow:0 1px 5px rgba(199, 198, 198,0.8);
      --hoverColor:#EF7D6A;
      --background-1: #F7F3F2;
      --background-2: #ffffffff;
      --background:  rgba(219, 197, 197, 0.3);

  }

  @font-face{
    font-family: NeueMontreal-Rgurlar;
    src: url(../font/NeueMontreal-Regular.otf);
   
    }
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

  html {

    perspective: 900;
    overflow-y: scroll;
    font-family: 'Inter', sans-serif;
    color: rgba(3, 28, 54, 0.8);
    background-color: var(--secondaryText);
  }
  
    body{
        
      margin: 0;
      box-sizing: border-box;
       background: var(--background-1);
      line-height: 1.5;
      min-height: 0;
      /* font-family: NeueMontreal-Regular; */
      font-family: 'Inter', sans-serif;
      /* display: inline-block; */
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      max-width: 768px;
  
       
      }

      main{
        padding-top: 1rem;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        background:var(--background-2);
        box-shadow: var(--shadow);


      }

    



  h1 ,h2, h3, h4, h5, h6{
      margin:0;
  }
  
 
  
  h1 {
    font-size: 2.2rem;

    line-height: 2.5rem;
    letter-spacing: 0.7px;
    font-weight: 600;
    color:var(--mainText);
  }
  h2 {
    font-size: 2.2rem;
    letter-spacing: 0.7px;
    letter-spacing: 1px;
    font-weight: 600;
    color:var(--secondaryText);
  }
  
  h3 {
    font-size: 25px;
    line-height: 20px;
    font-weight: 600;
    color:var(--mainText);
   
    display: block;
    margin: 0;
    cursor: pointer;
    margin-top: 1rem;
  }
  h4 {
    font-size: 25px;
    line-height: 20px;
    font-weight: 600;
    color:var(--secondaryText);
   
    display: block;
    margin: 0;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  h5 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color:var(--mainText);
   
    display: block;
    margin: 0;
    cursor: pointer;
   
  }
  h6 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color:var(--secondaryText);
  
    display: block;
    margin: 0;
    cursor: pointer;
    margin-top: 0.25rem;
   
  }
  h7{
    font-size: 17px;
    font-weight: 600;
    color:var(--mainText);

  }
  
  p {
    color:var(--mainText);
    font-size: 0.92rem;
    font-weight: 400;
    line-height: 1rem;
    
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin:0;
    padding-top: 0.2rem;
    z-index: 2;
  }
  
  a{
      text-decoration: none;
      color:var(--mainText);
  }
 
  ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid var(--mainText);
   
  }

 
  
  a:hover{
           
      text-decoration: none;
      color:var(--hoverColor);
      text-shadow: none;
      transition: 2s;
     
  }
  .site-footer{
  background: var(--background-1);


}

  .navContainer{
    display: flex;
    flex-flow: row wrap;
   
    justify-content: flex-end;
   
    margin-bottom: 1rem;

  }

  .mainBtn{
   
    background: var(--buttonColor);
    color: var(--lightTextColor);
   
    padding:0.4rem 0.7rem;
    font-size:1rem ;
 
    text-align: center;
    border: none;
    }
.xtrapadding{
  padding-left:3rem;
  padding-right:3rem;


}

  .secondBtn{
    margin-top: 1.5rem;
    background-color: var(--background-2);
    color: var(--mainText);
    padding:0.4rem 0.8rem;
  font-size:1rem ;
    border:1px solid var(--mainText);
  
  
  }
  .thirdBtn{
    
    background-color: var(--background-1);
    color: var(--mainText);
    padding:0.3rem 0.7rem;
  
    border:1px solid var(--mainText);
   
 
  }
   /* end main styling */
  /* header styling */
   .section-1{
     background: var(--buttonColor);
     height: 60px;

   }
   .section-2{
    background-color:var(--background-1);
    height: 60px;

  }
   .pLogo{
    font-size: 12px;
    line-height: 1;
    color:var(--lightTextColor);
    margin: 0;
    padding-left: 0.5rem;
    padding-top: 1rem;
    z-index: 200;
   }
   .pLogo-2{
    font-size: 18px;
  
    color:var(--lightTextColor);
    margin: 0;
 
    padding-left: 0.5rem;
    z-index: 200;
   }
   .pLogo-3{
    font-size: 12px;
    color:var(--mainText);
    margin: 0;
    padding-left: 0.5rem;
    padding-top: 1rem;
    z-index: 200;
 
   }
   .pLogo-4{
    font-size: 18px;
    color:var(--mainText);
    margin: 0;
   padding-left: 0.5rem;
   z-index: 200;
   }

     /* end header styling */
  /* start page styling */

     .container-top{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin-top: 1rem; 
      
      padding-bottom: 4rem;
      border-bottom: 1px solid var(--mainText);
     }

     .container-topFront{
      margin: 1rem 0;
      margin-bottom: 3rem;
      border-bottom: 1px solid var(--mainText);
      
    }

     .h1margin{
       margin-top: 2.5rem;
     }

    .materialImg {
   width: 44%;
   height: auto;
    }

.materialStyl{
  padding-left: 0.6rem;
}

     .container-middle{
     
      display: flex;
      flex-flow: column wrap;
      align-items: start;
      margin-top: 1rem; 
    padding-bottom: 2rem;
     border-bottom: 1px solid var(--mainText);
     }

     
     .container-center{
      margin-top: 1.5rem;
      row-gap:1.5rem;
      column-gap:1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 0.3fr;
      justify-items: center;
   
    }

     

     .illusize{

      width:100%;
     
     }
   
    
     
.h5margin{
     margin-top: 0.5rem; 
    }

    .container-bottom{
      display: flex;
      flex-flow: column wrap;
      align-items: start;
     margin-top: 1rem; 
     padding-bottom: 2rem;
     margin-right: 4rem; 
    
     }

     .container-footer{
      display: flex;
      flex-flow: row wrap;
      justify-content:space-between; 
      padding: 1rem;
   
     
  
     }
       /* end page styling */


  
    
    /* new accordion */
    .accordion dl,
    .accordion-list {
      
    }
    .accordion dl:after,
    .accordion-list:after {
      content: "";
      display: block;
      height: 1em;
      width: 100%;
      
      
    }
    
    .accordion dd,
    .accordion__panel {
      border-bottom: 1px solid var(--mainText);
  
      line-height: 1.5em;
      margin:0;
      
    }
    
    .accordion p {
    
    
    }
    
    .accordion {
      position: relative;
      
    
    }
    
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 0 2em 0;
      border: none;
    
    }
    
    .accordionTitle,
    .accordion__Heading {
     
  
     
      padding-bottom:1rem;
      display: block;
      text-decoration: none;
      color: var(--mainText);
      transition: 0.5s ease-in-out;
      
    }
    .accordionTitle:before,
    .accordion__Heading:before {
      content: "+";
      font-size: 2rem;
      font-weight: 100;

      line-height: 1.5rem;
      float: right;
      transition: transform 0.3s ease-in-out;
    }
    .accordionTitle:hover,
    .accordion__Heading:hover,
    .accordionOverviewTi {
      background-color: var(--background-2);
     
    }
    
    .accordionTitleActive,
    .accordionTitle.is-expanded {
      background-color: var(--background-2);
      

    }

    .accordionOverviewTi a:active { 
      color: lime }

    .accordionTitleActive:before,
    .accordionTitle.is-expanded:before {
      transform: rotate(-225deg);
      color: var(--hoverColor);
    }
    
    .accordionItem {
      height: auto;
      overflow: hidden;
      max-height: 100em;
      transition: max-height 1s;
    }
    @media screen and (min-width: 48em) {
      .accordionItem {
        max-height: 150em;
        transition: max-height 0.5s;
      }
    }
    
    .accordionItem.is-collapsed {
      max-height: 0;
    }
    
    .no-js .accordionItem.is-collapsed {
      max-height: auto;
    }
    
    .animateIn {
      -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
              animation: accordionIn 0.45s normal ease-in-out both 1;
    }
    
    .animateOut {
      -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
              animation: accordionOut 0.45s alternate ease-in-out both 1;
    }
    
    @-webkit-keyframes accordionIn {
      0% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    
    @keyframes accordionIn {
      0% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    @-webkit-keyframes accordionOut {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
      }
    }
    @keyframes accordionOut {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(0.9) rotateX(-60deg);
      }
    }



    /*  new accordion end*/
     @media screen and (min-width:2000px) {
       
        }

    



@media screen and (min-width:720px){
  
}